:root {
  --background: #f2efe9;
  --foreground: #171717;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 300;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 900;
}

h1 {
  font-size: inherit;
  margin: 0 0 1rem 0;
  font-weight: 900;
}

h2 {
  margin-bottom: 30px;

  span {
    font-weight: 300;
    font-size: .9rem;
  }
}

a {
  color: #0075f2;
  text-decoration: none;
}

main {
  padding: 15px;
  max-width: 992px;
  margin: 0 auto;

  @media (min-width: 1100px) {
    padding: 60px 15px 15px;
  }
}

section {
  margin-bottom: 60px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    flex-direction: column;

    img {
      max-width: 100%;
    }

  }

}

.card {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;

    img {
      max-width: 50%;
    }
  }

}

.techs {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    gap: 60px;
  }
}

.social {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (min-width: 1100px) {
    position: fixed;
    top: 60px;
    left: 0;

    flex-direction: column;
  }
}